# Neural net and related libraries
h5py
keras==2.2.4
tensorflow==2.5.3


# Image processing and reading
scikit-image
scikit-learn
numpy
cloudpickle

# Visualization
graphviz
python-graphviz
pydot

# Baseline
matplotlib